.u-section-1 .u-sheet-1 {min-height: 600px}
.u-section-1 .u-layout-wrap-1 {margin: 67px auto 39px 0}
.u-section-1 .u-layout-cell-1 {min-height: 494px}
.u-section-1 .u-container-layout-1 {padding: 30px 0 30px 30px}
.u-section-1 .u-image-1 {width: 44px; height: 37px; margin: 0 auto 0 0}
.u-section-1 .u-text-1 {font-size: 2.5rem; font-weight: 900; margin: 20px 0 0}
.u-section-1 .u-image-2 {width: 160px; height: 25px; margin: 30px auto 0 0}
.u-section-1 .u-layout-cell-2 {min-height: 494px}
.u-section-1 .u-container-layout-2 {padding: 0}
.u-section-1 .u-image-3 {height: 393px; margin: 23px auto 0 0}
.u-section-1 .u-group-1 {min-height: 213px; background-image: linear-gradient(to right, #ffe906, #faba14); width: 206px; margin: -415px 0 0 auto}
.u-section-1 .u-container-layout-3 {padding: 21px 20px 17px 25px}
.u-section-1 .u-text-2 {background-image: none; font-size: 0.8125rem; font-style: italic; margin: 0 auto 0 0}
.u-section-1 .u-text-3 {font-size: 4.3125rem; font-weight: 900; margin: 0 auto 0 0}
.u-section-1 .u-text-4 {background-image: none; font-size: 0.8125rem; font-style: normal; margin: -22px 4px 0 auto}
.u-section-1 .u-text-5 {background-image: none; font-size: 1.6875rem; font-style: italic; font-weight: 900; margin: 9px auto 0 0}
.u-section-1 .u-btn-1 {background-image: none; border-style: none; font-size: 0.75rem; margin: 11px 0 0; padding: 3px 39px 4px 37px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 430px}
.u-section-1 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 407px}
.u-section-1 .u-image-2 {width: 127px; height: 20px}
.u-section-1 .u-layout-cell-2 {min-height: 407px}
.u-section-1 .u-image-3 {height: 324px; margin-top: 213px; margin-right: initial; margin-left: initial}
.u-section-1 .u-group-1 {margin-top: -494px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 496px}
.u-section-1 .u-layout-wrap-1 {margin-bottom: 32px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-image-1 {margin-left: auto}
.u-section-1 .u-text-1 {font-size: 1.25rem; margin-left: auto; margin-right: auto}
.u-section-1 .u-image-2 {margin-left: auto}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-container-layout-2 {padding-bottom: 30px}
.u-section-1 .u-image-3 {height: 425px; margin-top: 229px; margin-right: initial; margin-left: initial}
.u-section-1 .u-group-1 {min-height: 199px; width: 203px; margin-top: -582px; margin-right: auto}
.u-section-1 .u-container-layout-3 {padding-bottom: 2px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 1238px}
.u-section-1 .u-container-layout-1 {padding-left: 10px}
.u-section-1 .u-image-3 {height: 319px; margin-right: initial; margin-left: initial}
.u-section-1 .u-group-1 {margin-top: -539px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-4 {margin-right: 5px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 902px}
.u-section-1 .u-layout-wrap-1 {margin-top: 35px; margin-bottom: 60px; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-1 {font-size: 1.875rem}
.u-section-1 .u-image-3 {height: 201px; margin-top: 237px; margin-right: initial; margin-left: initial}
.u-section-1 .u-group-1 {min-height: 207px; margin-top: -435px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-text-2 {width: auto; margin-left: auto}
.u-section-1 .u-text-3 {font-size: 3.75rem; width: auto; margin-left: auto}
.u-section-1 .u-text-4 {width: auto; margin-top: -25px; margin-right: 82px}
.u-section-1 .u-text-5 {width: auto; margin-top: 11px; margin-left: 93px}
.u-section-1 .u-btn-1 {margin-left: auto; margin-right: auto} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-layout-wrap-1 {margin: 0 0 60px}
.u-section-2 .u-layout-cell-1 {min-height: 400px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-image-1 {height: 435px; margin: 0 auto 0 0}
.u-section-2 .u-layout-cell-2 {min-height: 400px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-text-1 {margin-top: 0; margin-bottom: 0; font-size: 2.8125rem; font-weight: 700}
.u-section-2 .u-image-2 {width: 76px; height: 8px; margin: 30px auto 0 0}
.u-section-2 .u-text-2 {font-size: 1.375rem; font-weight: 300; margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 430px}
.u-section-2 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 330px}
.u-section-2 .u-image-1 {height: 350px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-2 {min-height: 330px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 353px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-image-1 {height: 256px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 860px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-1 {height: 444px; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 578px}
.u-section-2 .u-image-1 {height: 273px; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-1 {font-size: 1.875rem} }.u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-layout-wrap-1 {margin: 0 0 60px}
.u-section-3 .u-layout-cell-1 {min-height: 400px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-text-1 {margin-top: 0; margin-bottom: 0; font-size: 2.8125rem; font-weight: 700; background-size: auto}
.u-section-3 .u-image-1 {width: 76px; height: 8px; margin: 30px auto 0 0}
.u-section-3 .u-text-2 {margin-left: 0; font-size: 1.375rem; font-weight: 300; background-size: auto}
.u-section-3 .u-layout-cell-2 {min-height: 400px}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-image-2 {width: 429px; height: 421px; margin: 0 auto} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 430px}
.u-section-3 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 330px}
.u-section-3 .u-layout-cell-2 {min-height: 330px}
.u-section-3 .u-image-2 {width: 410px; height: 402px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 353px}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-image-2 {width: 300px; height: 294px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 860px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 1021px}
.u-section-3 .u-text-1 {font-size: 1.875rem} }.u-section-4 .u-sheet-1 {min-height: 500px}
.u-section-4 .u-layout-wrap-1 {margin: 0 0 60px}
.u-section-4 .u-layout-cell-1 {min-height: 400px}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-group-1 {width: 510px; min-height: 365px; background-image: linear-gradient(to right, #ffe906, #faba14); margin: 45px auto}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-text-1 {font-size: 2.8125rem; font-weight: 700; background-size: auto; margin: 0}
.u-section-4 .u-image-1 {width: 62px; height: 7px; margin: 30px auto 0 0}
.u-section-4 .u-text-2 {margin-left: 0; margin-bottom: 0; margin-top: 20px; font-size: 1.375rem; font-weight: 300; background-size: auto}
.u-section-4 .u-layout-cell-2 {min-height: 400px}
.u-section-4 .u-container-layout-3 {padding: 30px}
.u-section-4 .u-image-2 {height: 356px; margin: 0 auto 0 0} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 430px}
.u-section-4 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 330px}
.u-section-4 .u-group-1 {width: 410px}
.u-section-4 .u-layout-cell-2 {min-height: 330px}
.u-section-4 .u-image-2 {height: 286px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 353px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-group-1 {width: 300px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-image-2 {height: 209px; margin-top: 45px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 860px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-2 {height: 362px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 578px}
.u-section-4 .u-group-1 {min-height: 589px; margin-top: 0; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-text-1 {font-size: 1.5rem}
.u-section-4 .u-image-2 {height: 223px; margin-top: 0; margin-right: initial; margin-left: initial} }.u-section-5 .u-sheet-1 {min-height: 500px}
.u-section-5 .u-layout-wrap-1 {margin: 0 0 60px}
.u-section-5 .u-layout-cell-1 {min-height: 400px}
.u-section-5 .u-container-layout-1 {padding: 30px}
.u-section-5 .u-text-1 {margin-top: 0; margin-bottom: 0; font-size: 2.8125rem; font-weight: 700; background-size: auto}
.u-section-5 .u-image-1 {width: 76px; height: 8px; margin: 30px auto 0 0}
.u-section-5 .u-text-2 {margin-left: 0; font-size: 1.375rem; font-weight: 300; background-size: auto}
.u-section-5 .u-layout-cell-2 {min-height: 400px}
.u-section-5 .u-container-layout-2 {padding: 30px}
.u-section-5 .u-image-2 {width: 487px; height: 340px; margin: 0 auto} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 430px}
.u-section-5 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 330px}
.u-section-5 .u-layout-cell-2 {min-height: 330px}
.u-section-5 .u-image-2 {width: 410px; height: 286px} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 353px}
.u-section-5 .u-layout-cell-1 {min-height: 100px}
.u-section-5 .u-layout-cell-2 {min-height: 100px}
.u-section-5 .u-image-2 {width: 300px; height: 209px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 860px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 689px}
.u-section-5 .u-text-1 {font-size: 1.875rem; margin-left: 0; margin-right: 0}
.u-section-5 .u-image-2 {margin-top: -7px; margin-bottom: -7px} }.u-section-6 .u-sheet-1 {min-height: 948px}
.u-section-6 .u-layout-wrap-1 {margin: 0 0 60px}
.u-section-6 .u-layout-cell-1 {min-height: 457px}
.u-section-6 .u-container-layout-1 {padding: 30px}
.u-section-6 .u-group-1 {min-height: 397px; height: auto; margin: 0 auto 0 0}
.u-section-6 .u-container-layout-2 {padding: 30px}
.u-section-6 .u-text-1 {font-weight: 700; font-size: 1.25rem; margin: 0}
.u-section-6 .u-image-1 {width: 76px; height: 8px; margin: 30px auto 0 0}
.u-section-6 .u-text-2 {margin-left: 0; margin-bottom: 0; margin-top: 20px; font-size: 0.875rem; font-weight: 300; line-height: 1.8}
.u-section-6 .u-layout-cell-2 {min-height: 457px}
.u-section-6 .u-container-layout-3 {padding: 30px}
.u-section-6 .u-group-2 {min-height: 397px; height: auto; width: 317px; margin: 0}
.u-section-6 .u-container-layout-4 {padding: 30px}
.u-section-6 .u-text-3 {font-weight: 700; font-size: 1.25rem; margin: 0}
.u-section-6 .u-image-2 {width: 76px; height: 8px; margin: 30px auto 0 0}
.u-section-6 .u-text-4 {font-size: 0.875rem; font-weight: 300; line-height: 1.8; margin: 20px 0 0}
.u-section-6 .u-layout-cell-3 {min-height: 478px}
.u-section-6 .u-container-layout-5 {padding: 30px}
.u-section-6 .u-group-3 {min-height: 391px; height: auto; margin: 0 auto 0 0}
.u-section-6 .u-container-layout-6 {padding: 30px}
.u-section-6 .u-text-5 {font-weight: 700; font-size: 1.25rem; margin: 0}
.u-section-6 .u-image-3 {width: 76px; height: 8px; margin: 30px auto 0 0}
.u-section-6 .u-text-6 {font-size: 0.875rem; font-weight: 300; line-height: 1.8; margin: 20px 0 0}
.u-section-6 .u-layout-cell-4 {min-height: 478px}
.u-section-6 .u-container-layout-7 {padding: 30px}
.u-section-6 .u-group-4 {min-height: 391px; height: auto; margin: 0 auto 0 0}
.u-section-6 .u-container-layout-8 {padding: 30px}
.u-section-6 .u-text-7 {font-weight: 700; font-size: 1.25rem; margin: 0}
.u-section-6 .u-image-4 {width: 76px; height: 8px; margin: 30px auto 0 0}
.u-section-6 .u-text-8 {margin-left: 0; margin-bottom: 0; margin-top: 20px; font-size: 0.875rem; font-weight: 300; line-height: 1.8}
.u-section-6 .u-layout-cell-5 {min-height: 935px; background-image: linear-gradient(to right, #ffe906, #faba14)}
.u-section-6 .u-container-layout-9 {padding: 30px}
.u-section-6 .u-text-9 {font-size: 2.8125rem; font-weight: 700; background-size: auto; margin: 0}
.u-section-6 .u-image-5 {width: 62px; height: 7px; margin: 30px auto 0 0}
.u-section-6 .u-text-10 {font-size: 1.375rem; font-weight: 300; background-size: auto; margin: 20px 0 0}
.u-section-6 .u-image-6 {width: 72px; height: 72px; background-image: url("images/OTAVIO-SEM-FUNDO-CLOSED.png"); background-position: 50% 50%; margin: 60px auto 0 14px}
.u-section-6 .u-text-11 {font-weight: 700; margin: -72px 30px 0 auto}
.u-section-6 .u-text-12 {font-size: 0.875rem; margin: 4px 0 0 106px} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 435px}
.u-section-6 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-1 {min-height: 100px}
.u-section-6 .u-group-1 {margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-2 {min-height: 100px}
.u-section-6 .u-group-2 {width: 261px}
.u-section-6 .u-layout-cell-3 {min-height: 100px}
.u-section-6 .u-group-3 {margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-4 {min-height: 100px}
.u-section-6 .u-group-4 {margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-5 {min-height: 771px; background-position: 50% 50%}
.u-section-6 .u-text-11 {margin-right: 24px}
.u-section-6 .u-text-12 {width: 178px; height: 48px; margin-right: 41px; margin-left: 43px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 887px}
.u-section-6 .u-group-2 {margin-right: initial; margin-left: initial; width: auto}
.u-section-6 .u-layout-cell-5 {min-height: 100px}
.u-section-6 .u-text-11 {width: auto; margin-top: -74px; margin-right: auto; margin-left: 125px}
.u-section-6 .u-text-12 {width: auto; margin-top: 0; margin-right: 357px; margin-left: 125px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 906px}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-7 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-8 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-9 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-text-11 {margin-left: 98px}
.u-section-6 .u-text-12 {margin-right: 53px; margin-left: 55px} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 705px}
.u-section-6 .u-text-9 {font-size: 1.875rem}
.u-section-6 .u-image-6 {margin-top: 49px; margin-left: 20px}
.u-section-6 .u-text-11 {margin-top: -77px; margin-right: 81px; margin-left: auto}
.u-section-6 .u-text-12 {margin-top: 8px; margin-right: 49px; margin-left: 122px} }.u-section-7 .u-sheet-1 {min-height: 635px}
.u-section-7 .u-layout-wrap-1 {width: 1078px; margin: 60px auto 60px 0}
.u-section-7 .u-layout-cell-1 {min-height: 511px}
.u-section-7 .u-container-layout-1 {padding: 30px 30px 6px}
.u-section-7 .u-text-1 {font-size: 2.8125rem; font-weight: 700; background-size: auto; margin: 0}
.u-section-7 .u-image-1 {width: 76px; height: 8px; margin: 30px auto 0 0}
.u-section-7 .u-text-2 {margin-left: 0; margin-right: 0; font-size: 1.375rem; font-weight: 300}
.u-section-7 .u-layout-cell-2 {min-height: 511px}
.u-section-7 .u-container-layout-2 {padding: 0}
.u-section-7 .u-image-2 {width: 479px; height: 461px; margin: 0 auto} 

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 430px}
.u-section-7 .u-layout-wrap-1 {position: relative; width: 940px}
.u-section-7 .u-layout-cell-1 {min-height: 446px}
.u-section-7 .u-text-1 {width: 497px; height: 98px}
.u-section-7 .u-layout-cell-2 {min-height: 446px}
.u-section-7 .u-image-2 {width: 470px; height: 452px} }

@media (max-width: 991px){ .u-section-7 .u-sheet-1 {min-height: 353px}
.u-section-7 .u-layout-wrap-1 {width: 720px}
.u-section-7 .u-layout-cell-1 {min-height: 100px}
.u-section-7 .u-text-1 {width: 300px}
.u-section-7 .u-layout-cell-2 {min-height: 100px}
.u-section-7 .u-image-2 {width: 360px; height: 346px} }

@media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 580px}
.u-section-7 .u-layout-wrap-1 {width: 540px}
.u-section-7 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-text-1 {width: 497px} }

@media (max-width: 575px){ .u-section-7 .u-sheet-1 {min-height: 1011px}
.u-section-7 .u-layout-wrap-1 {margin-top: 66px; margin-right: initial; margin-left: initial; width: auto}
.u-section-7 .u-text-1 {font-size: 1.875rem; width: 320px}
.u-section-7 .u-image-2 {width: 340px; height: 327px} }.u-section-8 {background-image: url("images/BG.png")}
.u-section-8 .u-sheet-1 {min-height: 50vw}
.u-section-8 .u-layout-wrap-1 {margin: 125px auto 60px 0}
.u-section-8 .u-image-1 {min-height: 480px; background-image: url("images/CARD1FOTOxxxxXXxxx.png")}
.u-section-8 .u-container-layout-1 {padding: 0}
.u-section-8 .u-layout-cell-2 {min-height: 480px}
.u-section-8 .u-container-layout-2 {padding: 30px 5px 30px 30px}
.u-section-8 .u-group-1 {min-height: 374px; margin: 0 auto 0 0}
.u-section-8 .u-container-layout-3 {padding: 30px}
.u-section-8 .u-text-1 {font-size: 1.5rem; margin: 0}
.u-section-8 .u-image-2 {width: 76px; height: 8px; margin: 30px auto 0 0}
.u-section-8 .u-text-2 {margin: 20px 0 0}
.u-section-8 .u-layout-cell-3 {min-height: 480px}
.u-section-8 .u-container-layout-4 {padding: 30px}
.u-section-8 .u-group-2 {min-height: 374px; margin: 0}
.u-section-8 .u-container-layout-5 {padding: 30px}
.u-section-8 .u-text-3 {font-size: 1.5rem; margin: 0}
.u-section-8 .u-image-3 {width: 76px; height: 8px; margin: 30px auto 0 0}
.u-section-8 .u-text-4 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-8 .u-sheet-1 {min-height: 430px}
.u-section-8 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-8 .u-image-1 {min-height: 396px}
.u-section-8 .u-layout-cell-2 {min-height: 396px}
.u-section-8 .u-group-1 {margin-right: initial; margin-left: initial}
.u-section-8 .u-layout-cell-3 {min-height: 396px}
.u-section-8 .u-group-2 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-8 .u-sheet-1 {min-height: 353px}
.u-section-8 .u-image-1 {min-height: 303px}
.u-section-8 .u-layout-cell-2 {min-height: 100px}
.u-section-8 .u-layout-cell-3 {min-height: 100px} }

@media (max-width: 767px){ .u-section-8 .u-sheet-1 {min-height: 769px}
.u-section-8 .u-image-1 {min-height: 682px}
.u-section-8 .u-container-layout-2 {padding-left: 10px}
.u-section-8 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-8 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-8 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-8 .u-sheet-1 {min-height: 1422px}
.u-section-8 .u-layout-wrap-1 {margin-top: 74px; margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-8 .u-image-1 {min-height: 430px}
.u-section-8 .u-group-1 {margin-top: 36px; margin-right: initial; margin-left: initial} }.u-section-9 {background-image: url("images/BG1.png"); background-size: auto 110%}
.u-section-9 .u-sheet-1 {min-height: 904px}
.u-section-9 .u-layout-wrap-1 {margin: 41px 0}
.u-section-9 .u-layout-cell-1 {min-height: 400px}
.u-section-9 .u-container-layout-1 {padding: 30px 15px 30px 30px}
.u-section-9 .u-group-1 {min-height: 680px; background-image: linear-gradient(to right, #ffe906, #faba14); height: auto; margin: 0}
.u-section-9 .u-container-layout-2 {padding: 30px}
.u-section-9 .u-text-1 {font-size: 2.1875rem; font-weight: 700; background-size: auto; margin: 0}
.u-section-9 .u-image-1 {width: 62px; height: 7px; margin: 41px auto 0 0}
.u-section-9 .u-text-2 {font-size: 1.375rem; font-weight: 300; background-size: auto; margin: 41px 0 0}
.u-section-9 .u-layout-cell-2 {min-height: 400px}
.u-section-9 .u-container-layout-3 {padding: 30px}
.u-section-9 .u-group-2 {min-height: 452px; margin: 0 auto 0 0}
.u-section-9 .u-container-layout-4 {padding: 30px}
.u-section-9 .u-text-3 {font-size: 1.5rem; font-weight: 700; margin: 0}
.u-section-9 .u-image-2 {width: 76px; height: 8px; margin: 30px auto 0 0}
.u-section-9 .u-text-4 {margin: 20px 0 0}
.u-section-9 .u-layout-cell-3 {min-height: 400px}
.u-section-9 .u-container-layout-5 {padding: 30px}
.u-section-9 .u-image-3 {height: 438px; margin: 0 auto 0 0} 

@media (max-width: 1199px){ .u-section-9 .u-sheet-1 {min-height: 430px}
.u-section-9 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-9 .u-layout-cell-1 {min-height: 330px}
.u-section-9 .u-group-1 {margin-right: initial; margin-left: initial}
.u-section-9 .u-text-1 {margin-top: 29px}
.u-section-9 .u-image-1 {margin-top: 21px}
.u-section-9 .u-text-2 {margin-top: 86px}
.u-section-9 .u-layout-cell-2 {min-height: 330px}
.u-section-9 .u-group-2 {min-height: 683px; margin-right: initial; margin-left: initial}
.u-section-9 .u-layout-cell-3 {min-height: 330px}
.u-section-9 .u-image-3 {height: 347px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-9 .u-sheet-1 {min-height: 353px}
.u-section-9 .u-layout-cell-1 {min-height: 100px}
.u-section-9 .u-layout-cell-2 {min-height: 100px}
.u-section-9 .u-layout-cell-3 {min-height: 100px}
.u-section-9 .u-image-3 {height: 247px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-9 .u-sheet-1 {min-height: 1238px}
.u-section-9 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-text-1 {width: 475px; height: 98px; margin-right: -15px}
.u-section-9 .u-text-2 {width: 475px; height: 315px; margin-right: -15px}
.u-section-9 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-image-3 {height: 714px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-9 .u-sheet-1 {min-height: 816px}
.u-section-9 .u-container-layout-1 {padding-bottom: 0}
.u-section-9 .u-group-1 {min-height: 607px; margin-right: initial; margin-left: initial}
.u-section-9 .u-text-1 {width: 300px; margin-top: 0; margin-right: 0; font-size: 1.5rem}
.u-section-9 .u-image-1 {margin-top: 44px}
.u-section-9 .u-text-2 {width: 300px; margin-top: 34px; margin-right: 0}
.u-section-9 .u-group-2 {min-height: 477px; margin-right: initial; margin-left: initial}
.u-section-9 .u-text-4 {margin-top: 30px}
.u-section-9 .u-image-3 {height: 439px; margin-top: -30px; margin-bottom: -30px; margin-right: initial; margin-left: initial} }.u-section-10 .u-sheet-1 {min-height: 560px}
.u-section-10 .u-layout-wrap-1 {margin: 60px 0}
.u-section-10 .u-layout-cell-1 {min-height: 400px}
.u-section-10 .u-container-layout-1 {padding: 30px}
.u-section-10 .u-text-1 {font-size: 2.8125rem; font-weight: 700; background-size: auto; margin: 0}
.u-section-10 .u-image-1 {width: 76px; height: 8px; margin: 30px auto 0 0}
.u-section-10 .u-text-2 {margin-left: 0; margin-bottom: 0; margin-top: 20px; font-size: 1.375rem; font-weight: 300; background-size: auto}
.u-section-10 .u-layout-cell-2 {min-height: 400px}
.u-section-10 .u-container-layout-2 {padding: 30px}
.u-section-10 .u-image-2 {width: 326px; height: 340px; margin: 0 auto} 

@media (max-width: 1199px){ .u-section-10 .u-sheet-1 {min-height: 430px}
.u-section-10 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-10 .u-layout-cell-1 {min-height: 330px}
.u-section-10 .u-layout-cell-2 {min-height: 330px} }

@media (max-width: 991px){ .u-section-10 .u-sheet-1 {min-height: 353px}
.u-section-10 .u-layout-cell-1 {min-height: 100px}
.u-section-10 .u-layout-cell-2 {min-height: 100px}
.u-section-10 .u-image-2 {width: 300px; height: 313px} }

@media (max-width: 767px){ .u-section-10 .u-sheet-1 {min-height: 860px}
.u-section-10 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-10 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-10 .u-sheet-1 {min-height: 578px}
.u-section-10 .u-text-1 {font-size: 1.875rem}
.u-section-10 .u-text-2 {margin-right: 0} }.borda1 {
border-radius: 20px;
}
.borda2 {
border-radius: 20px;
}
.borda3 {
border-radius: 20px;
}